<!DOCTYPE html>
<html>
    <head>
        <title>The Corona Project</title>
        <link rel="icon" href="/img/icon.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        {{>header}}

        <div class="main">
            <div class="heading">Tackling corona in India: Why the sledgehammer approach is doomed to fail</div>
            <hr class="head-line">
            <div class="blog-right">
                <img class="me" src="/img/me.jpg">
                <div class="name">-By Ritvik Kohli</div>
            </div>
            <p class="content">
                <strong>The</strong> corona challenge will likely be with us for a year or more, until we find a cure or a vaccine and it may strike again, after remaining dormant for a while. Thus, it is more urgent than ever to find policy responses that can be sustained and don’t end up leaving India worse off overall.
                <br><br>
                Clearly, Covid-19 can have a very large negative impact on India. According to the influential models from Imperial College, if nothing was done in India, corona could end up killing almost 6 million people. Models are based on assumptions. Even if precise numbers are not that high, casualties, not just deaths, can be serious.
                <br><br>
                To reduce the impact of corona, we have to reduce the transmission of the disease. We have two broad policies of social distancing – a moderate and a strict one. The moderate reduction would be akin to the policy chosen by Sweden – reducing the average person’s social interactions about 40%. People are asked to work and study from home if possible, but most still go to work and school. Interactions outside of work and school would, however, be dramatically curtailed. The more draconian strict reduction would be a reduction of social interaction by three-quarters, more akin to lockdown policies in Italy, and would also end work and school.
                <br><br>
                Unfortunately, strict lockdowns have substantial costs and are hard to do in developing countries, and they cannot be sustained for the next 6-12 months necessary. Therefore, it is more relevant for India to investigate moderate social distancing. The Imperial College model shows that sustained moderate social distancing can save up to 1.9 million lives in India, roughly one-third of projected casualties. However, moderate lockdowns will also result in substantial long-term costs because of reduced economic activity in India for years to come, not just in 2020-21, but 2021-22 and beyond.
                <br><br>
                Based on estimates from McKinsey for India, two studies done for the African countries of Malawi and Ghana, and the only peer-reviewed paper on moderate social distancing in the US, we estimate the total economic cost for long-term moderate social distancing in India would likely be at least Rs 96 trillion and could reach Rs 231 trillion. Is it reasonable for India to pay Rs 96 trillion to avoid at best 1.9 million deaths? Our initial reaction might be to call such a question impertinent: Of course, we should save lives, even if the costs are great. But such an admirable sentiment ignores reality: No country can afford to save all lives. In India, 1.5 lakh die each year on the roads, but we don’t implement a 5 kmph speed limit which would save everyone, because it would wreck the economy.
                <br><br>
                When comparing the costs and benefits across India, a moderate lockdown is a poor idea as social costs will outweigh benefits 7 to 1. Based on previous studies, India would likely be able to save 1.9 million lives over the coming years for Rs 91 billion, on non-Covid mortality. Every time corona policy saves one person, other policies could for the same amount save a thousand lives.
                <br><br>
                This does not mean states should do nothing, but that they need to be much more careful to tackle corona effectively. Clearly, states should continue with low-cost social restrictions, such as physical distancing and non-contact greetings, cocooning of the elderly and vulnerable, restricting large gatherings and promoting hand washing.
                <br><br>
                States should be wary of school shutdowns. Not only do they have little effect, but they lead to massive future costs in lost learning and lower long-term productivity and income. A World Bank study estimates that the global lost income from school closures could amount to a global loss of $13 trillion.
                <br><br>
                States should resist the urge to implement unsustainable lockdowns, both because their costs outweigh their benefits, but also because if broken before time, they will help little.
                <br><br>
                India should tackle corona smartly. That means considering both the benefits of policies and their costs. This urges us to be cautious to not go too far. A sledgehammer may seem attractive, but is not always effective.
            </p>
        </div>

        {{>footer}}
        <script src="/js/app.js"></script>
    </body>
</html>