<!DOCTYPE html>
<html>
    <head>
        <title>COVID-19 News</title>
        <link rel="icon" href="/img/icon.png">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
        
    </head>

    <body onload="myFunction()">
        {{>header}}

        <div class="main">
            <div class="news_card">
                <h2 class="text-center">Global Headlines on Coronavirus</h2>
                <span class="loader">
                    <span class="loader-inner"></span>
                </span>
                <div class="news_container" style="margin-top:2rem;" id="news"></div>
            </div>
        </div>

        {{>footer}}
        <script src="/js/app.js"></script>
    </body>
</html>